<div id="blogs-page">
    <div class="blogs-page-header">
        <div class="blogs-page-contents">
            <div class="flex-left-items">
                <div class="akin-logo" onclick="window.location.href='/'">
                    <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/akin_logo_white.svg" alt="Akin Analytics Logo">
                </div>
                <div class="platform-button">
                    <a href="/login">Platform</a>
                </div>
                <div class="blogs-button">
                    <a id="blogs-button" class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Company</a>
                    <ul class="dropdown-menu company-dropdown-menu">
                        <li class="line-items"><a class="dropdown-item" href="/aboutus">About Us</a></li>
                        <li class="line-items"><a class="dropdown-item" href="/blogs">Blogs</a></li>
                        <li class="line-items"><a class="dropdown-item" href="/locations">Locations</a></li>
                        <li class="line-items"><a class="dropdown-item" href="/support">Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="flex-right-items">
                <div class="login-button">
                    <button onclick="window.location.href='/login'">LOGIN</button>
                </div>
                <div class="demo-button">
                    <button data-bs-toggle="modal" data-bs-target="#scheduleDemo">Schedule a Demo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="blogs-page-content">
        <div class="akin-blogs">
            <div class="blogs-carousel">
                <div id="blogCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="blogs-heading-text">Blogs</div>
                    <ol class="carousel-indicators" style="list-style: none;">
                        <li data-bs-target="#blogCarousel" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#blogCarousel" data-bs-slide-to="1"></li>
                        <li data-bs-target="#blogCarousel" data-bs-slide-to="2"></li>
                        <li data-bs-target="#blogCarousel" data-bs-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="article-header">How AI Can Transform Agriculture in India</div>
                            <div class="article-body">
                                The article discusses how generative AI (GenAI) can revolutionize agriculture in India
                                by bridging the knowledge gap among farmers. AI initiatives such as KissanAI and
                                Microsoft’s Jugalbandi provide localized, voice-based assistance in multiple Indian
                                languages, helping farmers access critical agricultural knowledge. Various agritech
                                startups use AI to offer real-time insights on crop health, market prices, and supply
                                chain management, enhancing productivity and sustainability in the agricultural
                                sector.<span><a
                                        href="https://analyticsindiamag.com/how-ai-can-transform-agriculture-in-india/"
                                        target="_blank"> Read More</a></span>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#blogCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#blogCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="akin-use-cases">
            <div class="use-case-heading"> USE CASES</div>
            <div class="use-cases-container">
                <div class="use-case">
                    <div class="use-case-img">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/security_survelliance_drone.jpg"
                            alt="security_survelliance_drone" height="100%" width="100%">
                    </div>
                    <div class="use-case-content">
                        <div class="content-heading">Security & Safety Surveillance</div>
                        <div class="content-data">
                            <ul>
                                <li>Wide-area monitoring for large regions.</li>
                                <li>Enhanced situational awareness with cameras and sensors.</li>
                                <li>Cost-effective alternative to traditional systems.</li>
                                <li>Rapid deployment for quick response.</li>
                                <li>Data collection and analytics for real-time insights.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="use-case">
                    <div class="use-case-img">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/inventory_use_case.jpg" alt="inventory_management" height="100%"
                            width="100%">
                    </div>
                    <div class="use-case-content">
                        <div class="content-heading">Inventory Management</div>
                        <div class="content-data">
                            <ul>
                                <li>Experience unparalleled accuracy in pollution detection with our drones</li>
                                <li>Equipped with advanced sensors, they detect heavily polluted areas</li>
                                <li>Pinpoint the specific mode of pollution with unmatched precision</li>
                                <li>They monitor animals, providing crucial data without habitat disturbance.</li>
                                <li>Drones revolutionize wildlife study, minimizing human impact on ecosystems.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="use-case">
                    <div class="use-case-img">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/stock_analysis.jpg" alt="stock_analysis" height="100%"
                            width="100%">
                    </div>
                    <div class="use-case-content">
                        <div class="content-heading">Stock Analysis</div>
                        <div class="content-data" style="min-height: 230px;">
                            <ul>
                                <li>Automated stock level monitoring.</li>
                                <li>Real-time data collection and reporting.</li>
                                <li>Enhanced accuracy in stock counting.</li>
                                <li>Reduced manual labor and errors.</li>
                                <li>Faster stock turnover insights and trends.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="akin-events">
            <div class="events-heading">EVENTS</div>
            <div class="events-container">
                <div class="event-info">
                    <div class="event-img">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/dubai_expo.jpg" alt="Dubai Expo 2022" height="100%"
                            width="100%">
                    </div>
                    <div class="event-content">
                        <div class="event-content-heading">Dubai Expo 2022 – GOI</div>
                        <div class="event-content-data">
                            <ul>
                                <li>Notably, AkinAnalytics was selected by the Government of India to present at the IIH
                                    Investor Pitch Deck at Dubai Expo 2022 on March 28th, showcasing their
                                    transformative technology on a global stage</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="event-info">
                    <div class="event-img">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/achievements/success_2.png" alt="EK NARI - 100 PE BHARI" height="100%"
                            width="100%">
                    </div>
                    <div class="event-content">
                        <div class="event-content-heading">EK NARI – 100 PE BHARI & Leaders of Bharat Powered by Global
                            Empire Events, 12th of October 2023 India</div>
                        <div class="event-content-data">
                            <ul>
                                <li>Janaki Naidu, the visionary founder of AkinAnalytics, leads a pioneering drone
                                    analytics based out of Thub2.O, Hyderabad</li>
                                <li>Her commitment to innovation and technology has earned her the esteemed Ek Nari
                                    award for Women Entrepreneur of the Year 2023 in Innovation in Technology.</li>
                                <li><a href="https://lnkd.in/gvDeamxM" target="_blank"
                                        style="color: #494949; text-decoration: none;">https://lnkd.in/gvDeamxM</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="event-info">
                    <div class="event-img">
                        <img src="../../../assets/achievements/success_3.png" alt="Internet 2.O Conference Award"
                            height="100%" width="100%">
                    </div>
                    <div class="event-content">
                        <div class="event-content-heading">Internet 2.O Conference Award</div>
                        <div class="event-content-data">
                            <ul>
                                <li>Janaki's remarkable achievements include being recognized for outstanding technology
                                    leadership at the Internet 2.0 conference.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blogs-page-footer">
        <div class="footer-contents">
            <div class="ft-items">
                <div class="content-links">
                    <div class="link-view">
                        <label class="view-block-title">Company</label>
                        <ul class="items-list">
                            <li>
                                <a class="footer-links" href="/aboutus">About</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/locations">Locations</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Careers</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Use cases</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Terms and Privacy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-view">
                        <label class="view-block-title">Resources</label>
                        <ul class="items-list">
                            <li>
                                <a class="footer-links" href="/blogs">Webinars</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Workshops</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Blogs</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-view">
                        <label class="view-block-title">Network</label>
                        <ul class="items-list">
                            <li>
                                <a data-bs-toggle="modal" data-bs-target="#getInTouch">Become a partner</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-icons">
                    <a href="https://www.linkedin.com/company/akin-analytics-solutions/" target="_blank">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/linkedin.svg" alt="linkedin">
                    </a>
                    <a href="https://www.instagram.com/analyticsakin?igsh=MWhhczl4bzBsbm9hOA==" target="_blank">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/instagram.svg" alt="instagram">
                    </a>
                    <a href="https://www.youtube.com/@AkinAnalytics" target="_blank">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
            <div class="ft-details">
                <div class="info-button">
                    <button data-bs-toggle="modal" data-bs-target="#getInTouch">Get in touch <span>&gt;</span></button>
                </div>
                <div class="info-phone">
                    <p><span style="margin-right: 5px;"><img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/phone_icon.svg"></span>
                        +91-7337292216</p>
                </div>
                <div class="info-email">
                    <p><span style="margin-right: 5px;"><img
                                src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/email_icon.svg"></span>admin&commat;akinanalytics.ai</p>
                </div>
                <div class="info-subscribe">
                    <p>Subscribe to our newsletter</p>
                </div>
                <div class="info-copyright">
                    <p><span style="margin-right: 3px;">&copy;</span>2024 Akin Analytics, all rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="getInTouch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="getInTouchLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="getInTouchLabel">Learn more about our products and services:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="inputNameField" class="form-label">Name:</label>
                            <input type="text" id="inputNameField" class="form-control form-label-input"
                                placeholder="Enter your Name">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label for="inputEmailField" class="form-label">Email:</label>
                            <input type="text" id="inputEmailField" class="form-control form-label-input"
                                placeholder="Enter your Email">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2.5%;">
                        <div class="col-md-7">
                            <label for="inputMessageField" class="form-label">Message:</label>
                            <input type="text" id="inputMessageField" class="form-control form-label-input"
                                placeholder="Enter your Email">
                        </div>
                    </div>
                </div>
                <div class="submit-btn-modal">
                    <button type="button" data-bs-dismiss="modal">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="scheduleDemo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="scheduleDemoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scheduleDemoLabel">Schedule a Demo with us</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="inputNameField" class="form-label">Name</label>
                            <input type="text" id="inputNameField" class="form-control form-label-input"
                                placeholder="Enter your Name">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label for="inputEmailField" class="form-label">Email</label>
                            <input type="text" id="inputEmailField" class="form-control form-label-input"
                                placeholder="Enter your Email">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%;">
                        <div class="col-md-5">
                            <label for="inputNameField" class="form-label">Company Name</label>
                            <input type="text" id="inputNameField" class="form-control form-label-input"
                                placeholder="Enter your company name">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label for="inputIndustryField" class="form-label">Industry</label>
                            <select class="form-control form-select" id="inputIndustryField" aria-label="industry">
                                <option selected>Choose your industry</option>
                                <option value="Infrastructure">Infrastructure</option>
                                <option value="Energy & Utilities">Energy & Utilities</option>
                                <option value="Forestry">Forestry</option>
                                <option value="Environmental Monitoring">Environmental Monitoring</option>
                                <option value="Manufacturing">Manufacturing</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2.5%;">
                        <div class="col-md-7">
                            <label for="inputMessageField" class="form-label">Problem Statement</label>
                            <input type="text" id="inputMessageField" class="form-control form-label-input"
                                placeholder="Describe your problem statement">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2.5%;">
                        <div class="col-md-7">
                            <label for="inputMessageField" class="form-label">Expected Demo Date and Time</label>
                            <input type="text" id="inputMessageField" class="form-control form-label-input"
                                placeholder="Enter the Date and Time">
                        </div>
                    </div>
                </div>
                <div class="submit-btn-modal">
                    <button type="button" data-bs-dismiss="modal">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>