<div id="locations-page">
    <div class="locations-page-header">
        <div class="locations-page-contents">
            <div class="flex-left-items">
                <div class="akin-logo" onclick="window.location.href='/'">
                    <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/akin_logo_white.svg" alt="Akin Analytics Logo">
                </div>
                <div class="platform-button">
                    <a href="/login">Platform</a>
                </div>
                <div class="locations-button">
                    <a id="locations-button" class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Company</a>
                    <ul class="dropdown-menu company-dropdown-menu">
                        <li class="line-items"><a class="dropdown-item" href="/aboutus">About Us</a></li>
                        <li class="line-items"><a class="dropdown-item" href="/blogs">Blogs</a></li>
                        <li class="line-items"><a class="dropdown-item" href="/locations">Locations</a></li>
                        <li class="line-items"><a class="dropdown-item" href="/support">Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="flex-right-items">
                <div class="login-button">
                    <button onclick="window.location.href='/login'">LOGIN</button>
                </div>
                <div class="demo-button">
                    <button data-bs-toggle="modal" data-bs-target="#scheduleDemo">Schedule a Demo</button>
                </div>
            </div>
        </div>
    </div>

    <div class="locations-page-content">
        <div class="page-title">Locations</div>
        <div class="locations-details">
            <div class="location-info">
                <div class="location-img">
                    <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/thub_building.jpg" alt="t-hub" height="100%" width="100%">
                </div>
                <div class="address">
                    <div class="address-title">Hyderabad, Telangana
                        <span class="location-map">
                            <a href="https://www.google.com/maps/place/T-Hub+Phase+2/@17.434972,78.3761553,17.67z/data=!4m10!1m2!2m1!1st-hub!3m6!1s0x3bcb93e37831f177:0x32d4499d34baaa78!8m2!3d17.4345506!4d78.3792185!15sCgV0LWh1YpIBD3RlY2hub2xvZ3lfcGFya-ABAA!16s%2Fg%2F11ddx33gc9?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank"><img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/location_pin_icon.png" alt="loation-pin"
                                    height="100%" width="100%"></a>
                        </span>
                    </div>
                    <div class="address-details">
                        T-Hub Phase 2, 20 Inorbit Mall Rd,Vittal Rao Nagar, Madhapur, Hyderabad, Telangana 500081
                    </div>
                </div>
            </div>
            <div class="location-info">
                <div class="address">
                    <div class="address-title">Dubai, UAE
                        <span class="location-map">
                            <a href="https://www.google.com/maps/place/Iris+Bay+Tower/@25.1861835,55.2589226,17.64z/data=!4m6!3m5!1s0x3e5f69001c8d0399:0x8f6d40395efc45af!8m2!3d25.1858998!4d55.2600762!16s%2Fg%2F11y32dlhtl?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank"><img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/location_pin_icon.png" alt="loation-pin"
                                    height="100%" width="100%"></a>
                        </span>
                    </div>
                    <div class="address-details">
                        Iris Bay Tower, Office 1706, Business Bay, Dubai, UAE
                    </div>
                </div>
                <div class="location-img">
                    <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/business_bay_dubai.jpeg" alt="business_bay_dubai" height="100%"
                        width="100%">
                </div>
            </div>
            <div class="location-info">
                <div class="location-img">
                    <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/madhapur.jpeg" alt="madhapur" height="100%" width="100%">
                </div>
                <div class="address">
                    <div class="address-title">Hyderabad, Telangana
                        <span class="location-map">
                            <a href="https://www.google.com/maps/place/Varalaxmi+Arcade/@17.4558711,78.3880921,20z/data=!4m15!1m8!3m7!1s0x3bcb916e31e35627:0x712c2cfe306589ef!2sParvath+Nagar,+Tulasi+Nagar,+Madhapur,+Hyderabad,+Telangana+500018!3b1!8m2!3d17.4569287!4d78.3987793!16s%2Fg%2F11bc8ddc8n!3m5!1s0x3bcb910eb9427815:0x2ae0d2b84ed2bb20!8m2!3d17.4558711!4d78.3882726!16s%2Fg%2F11rjz63k2l?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank"><img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/location_pin_icon.png" alt="loation-pin"
                                    height="100%" width="100%"></a>
                        </span>
                    </div>
                    <div class="address-details">
                        H. No: 2-56/4/18, Ayyappa Society, Khanamet, Madhapur, Hyderabad, Telangana 500081
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="locations-page-footer">
        <div class="footer-contents">
            <div class="ft-items">
                <div class="content-links">
                    <div class="link-view">
                        <label class="view-block-title">Company</label>
                        <ul class="items-list">
                            <li>
                                <a class="footer-links" href="/aboutus">About</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/locations">Locations</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Careers</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Use cases</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Terms and Privacy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-view">
                        <label class="view-block-title">Resources</label>
                        <ul class="items-list">
                            <li>
                                <a class="footer-links" href="/blogs">Webinars</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Workshops</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Blogs</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-view">
                        <label class="view-block-title">Network</label>
                        <ul class="items-list">
                            <li>
                                <a data-bs-toggle="modal" data-bs-target="#getInTouch">Become a partner</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-icons">
                    <a href="https://www.linkedin.com/company/akin-analytics-solutions/" target="_blank">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/linkedin.svg" alt="linkedin">
                    </a>
                    <a href="https://www.instagram.com/analyticsakin?igsh=MWhhczl4bzBsbm9hOA==" target="_blank">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/instagram.svg" alt="instagram">
                    </a>
                    <a href="https://www.youtube.com/@AkinAnalytics" target="_blank">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
            <div class="ft-details">
                <div class="info-button">
                    <button data-bs-toggle="modal" data-bs-target="#getInTouch">Get in touch <span>&gt;</span></button>
                </div>
                <div class="info-phone">
                    <p><span style="margin-right: 5px;"><img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/phone_icon.svg"></span>
                        +91-7337292216</p>
                </div>
                <div class="info-email">
                    <p><span style="margin-right: 5px;"><img
                                src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/email_icon.svg"></span>admin&commat;akinanalytics.ai</p>
                </div>
                <div class="info-subscribe">
                    <p>Subscribe to our newsletter</p>
                </div>
                <div class="info-copyright">
                    <p><span style="margin-right: 3px;">&copy;</span>2024 Akin Analytics, all rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="getInTouch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="getInTouchLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="getInTouchLabel">Learn more about our products and services:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="inputNameField" class="form-label">Name:</label>
                            <input type="text" id="inputNameField" class="form-control form-label-input"
                                placeholder="Enter your Name">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label for="inputEmailField" class="form-label">Email:</label>
                            <input type="text" id="inputEmailField" class="form-control form-label-input"
                                placeholder="Enter your Email">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2.5%;">
                        <div class="col-md-7">
                            <label for="inputMessageField" class="form-label">Message:</label>
                            <input type="text" id="inputMessageField" class="form-control form-label-input"
                                placeholder="Enter your Email">
                        </div>
                    </div>
                </div>
                <div class="submit-btn-modal">
                    <button type="button" data-bs-dismiss="modal">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="scheduleDemo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="scheduleDemoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scheduleDemoLabel">Schedule a Demo with us</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="inputNameField" class="form-label">Name</label>
                            <input type="text" id="inputNameField" class="form-control form-label-input"
                                placeholder="Enter your Name">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label for="inputEmailField" class="form-label">Email</label>
                            <input type="text" id="inputEmailField" class="form-control form-label-input"
                                placeholder="Enter your Email">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%;">
                        <div class="col-md-5">
                            <label for="inputNameField" class="form-label">Company Name</label>
                            <input type="text" id="inputNameField" class="form-control form-label-input"
                                placeholder="Enter your company name">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label for="inputIndustryField" class="form-label">Industry</label>
                            <select class="form-control form-select" id="inputIndustryField" aria-label="industry">
                                <option selected>Choose your industry</option>
                                <option value="Infrastructure">Infrastructure</option>
                                <option value="Energy & Utilities">Energy & Utilities</option>
                                <option value="Forestry">Forestry</option>
                                <option value="Environmental Monitoring">Environmental Monitoring</option>
                                <option value="Manufacturing">Manufacturing</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2.5%;">
                        <div class="col-md-7">
                            <label for="inputMessageField" class="form-label">Problem Statement</label>
                            <input type="text" id="inputMessageField" class="form-control form-label-input"
                                placeholder="Describe your problem statement">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2.5%;">
                        <div class="col-md-7">
                            <label for="inputMessageField" class="form-label">Expected Demo Date and Time</label>
                            <input type="text" id="inputMessageField" class="form-control form-label-input"
                                placeholder="Enter the Date and Time">
                        </div>
                    </div>
                </div>
                <div class="submit-btn-modal">
                    <button type="button" data-bs-dismiss="modal">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>