<div id="about-us-page">
    <div class="about-us-page-header">
        <div class="about-us-page-contents">
            <div class="flex-left-items">
                <div class="akin-logo" onclick="window.location.href='/'">
                    <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/akin_logo_white.svg" alt="Akin Analytics Logo">
                </div>
                <div class="platform-button">
                    <a href="/login">Platform</a>
                </div>
                <div class="about-us-button">
                    <a id="about-us-button" class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Company</a>
                    <ul class="dropdown-menu company-dropdown-menu">
                        <li class="line-items"><a class="dropdown-item" href="/aboutus">About Us</a></li>
                        <li class="line-items"><a class="dropdown-item" href="/blogs">Blogs</a></li>
                        <li class="line-items"><a class="dropdown-item" href="/locations">Locations</a></li>
                        <li class="line-items"><a class="dropdown-item" href="/support">Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="flex-right-items">
                <div class="login-button">
                    <button onclick="window.location.href='/login'">LOGIN</button>
                </div>
                <div class="demo-button">
                    <button data-bs-toggle="modal" data-bs-target="#scheduleDemo">Schedule a Demo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-page-content">
        <div class="about-us-details">
            <div class="about-us-heading-text">About Akin Analytics</div>
            <div class="about-us-text">Our Mission</div>
            <div class="about-us-paragraph">Empowering Industries with Intelligent Aerial Solutions <br>
                Innovating the Future of Data-Driven Missions </div>
            <div class="about-us-button">
                <button data-bs-toggle="modal" data-bs-target="#getInTouch">Contact Us</button>
            </div>
        </div>
    </div>
    <div class="founder-details-content">
        <div class="founder-message">
            <div class="founder-title">
                <span class="highlighted-text">Founder</span> & her vision
            </div>
            <div class="founder-name">
                Ms. Janaki P
            </div>
            <div class="founder-message-description">
                Janaki, the visionary behind Akin Analytics, brings a passion for driving innovation through AI.
                Her leadership has been instrumental in shaping the company’s forward-thinking strategies.
                Janaki envisions Akin Analytics as a global pioneer, transforming industries by integrating cutting-edge
                AI with practical applications.
                She is dedicated to fostering a culture of creativity and excellence,
                where every challenge is viewed as an opportunity for impactful, data-driven solutions.
            </div>
        </div>
        <div class="founder-pic">
            <div class="image-source">
                <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/images/founder.jpg" alt="founder" height="100%" width="100%">
            </div>
        </div>
    </div>
    <div class="leadership-details">
        <div class="leadership-text">
            Leadership
        </div>
        <div class="leadership-description">
            <div class="cards">
                <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/images/mentor_2.png" height="100%" width="100%">
                <div class="profile-name">
                    Mr. Rakesh Thatha
                    <div class="profile-tag">
                        - Mentor
                    </div>
                </div>
                <div class="profile-description">
                    Rakesh Thatha’s leadership as a mentor has been invaluable in guiding Akin Analytics toward
                    sustainable growth. With years of experience in both business and technology, his strategic insights
                    have empowered the team to navigate complex challenges and seize new opportunities. Rakesh’s ability
                    to inspire, coupled with his deep understanding of AI and analytics,
                    has set a strong foundation for the company’s continuous innovation and success
                </div>
            </div>
            <div class="cards">
                <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/images/mentor_1.jpg" height="100%" width="100%">
                <div class="profile-name">
                    Mr. Amruth
                    <div class="profile-tag">
                        - Vice President of Projects
                    </div>
                </div>
                <div class="profile-description">
                    As the Vice President of Projects, Amruth demonstrates exemplary leadership in overseeing critical
                    initiatives at Akin Analytics. His dynamic approach ensures that projects are executed efficiently,
                    with a keen focus on meeting client expectations and delivering value. Amruth's leadership is rooted
                    in collaboration and problem-solving, driving the company’s mission to deliver world-class AI
                    solutions that exceed industry standards.
                </div>
            </div>
        </div>
    </div>
    <div class="join-our-team">
        <div class="details">
            <div class="join-our-title">
                <span class="highlighted-text">Join</span> our team
            </div>
            <div class="join-our-description">
                If you're passionate about pioneering new technologies
                in drone analytics, we invite you to join us.
                Learn, innovate, and advance your career while being at the
                forefront of cutting-edge drone technology.
                Explore the exciting career opportunities that await you with us!
            </div>
            <div class="info-button">
                <button data-bs-toggle="modal" data-bs-target="#getInTouch">Contact Us <span>&gt;</span></button>
            </div>
        </div>
        <div class="drones-image">
            <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/drone_icon.png" alt="drone_icon" height="100%" width="100%">
        </div>
    </div>
    <div class="about-us-page-footer">
        <div class="footer-contents">
            <div class="ft-items">
                <div class="content-links">
                    <div class="link-view">
                        <label class="view-block-title">Company</label>
                        <ul class="items-list">
                            <li>
                                <a class="footer-links" href="/aboutus">About</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/locations">Locations</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Careers</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Use cases</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Terms and Privacy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-view">
                        <label class="view-block-title">Resources</label>
                        <ul class="items-list">
                            <li>
                                <a class="footer-links" href="/blogs">Webinars</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Workshops</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Blogs</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-view">
                        <label class="view-block-title">Network</label>
                        <ul class="items-list">
                            <li>
                                <a data-bs-toggle="modal" data-bs-target="#getInTouch">Become a partner</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-icons">
                    <a href="https://www.linkedin.com/company/akin-analytics-solutions/" target="_blank">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/linkedin.svg" alt="linkedin">
                    </a>
                    <a href="https://www.instagram.com/analyticsakin?igsh=MWhhczl4bzBsbm9hOA==" target="_blank">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/instagram.svg" alt="instagram">
                    </a>
                    <a href="https://www.youtube.com/@AkinAnalytics" target="_blank">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
            <div class="ft-details">
                <div class="info-button">
                    <button data-bs-toggle="modal" data-bs-target="#getInTouch">Get in touch <span>&gt;</span></button>
                </div>
                <div class="info-phone">
                    <p><span style="margin-right: 5px;"><img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/phone_icon.svg"></span>
                        +91-7337292216</p>
                </div>
                <div class="info-email">
                    <p><span style="margin-right: 5px;"><img
                                src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/icons/email_icon.svg"></span>admin&commat;akinanalytics.ai</p>
                </div>
                <div class="info-subscribe">
                    <p>Subscribe to our newsletter</p>
                </div>
                <div class="info-copyright">
                    <p><span style="margin-right: 3px;">&copy;</span>2024 Akin Analytics, all rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="getInTouch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="getInTouchLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="getInTouchLabel">Learn more about our products and services:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="inputNameField" class="form-label">Name:</label>
                            <input type="text" id="inputNameField" class="form-control form-label-input"
                                placeholder="Enter your Name">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label for="inputEmailField" class="form-label">Email:</label>
                            <input type="text" id="inputEmailField" class="form-control form-label-input"
                                placeholder="Enter your Email">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2.5%;">
                        <div class="col-md-7">
                            <label for="inputMessageField" class="form-label">Message:</label>
                            <input type="text" id="inputMessageField" class="form-control form-label-input"
                                placeholder="Enter your Email">
                        </div>
                    </div>
                </div>
                <div class="submit-btn-modal">
                    <button type="button" data-bs-dismiss="modal">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="scheduleDemo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="scheduleDemoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scheduleDemoLabel">Schedule a Demo with us</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="inputNameField" class="form-label">Name</label>
                            <input type="text" id="inputNameField" class="form-control form-label-input"
                                placeholder="Enter your Name">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label for="inputEmailField" class="form-label">Email</label>
                            <input type="text" id="inputEmailField" class="form-control form-label-input"
                                placeholder="Enter your Email">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%;">
                        <div class="col-md-5">
                            <label for="inputNameField" class="form-label">Company Name</label>
                            <input type="text" id="inputNameField" class="form-control form-label-input"
                                placeholder="Enter your company name">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label for="inputIndustryField" class="form-label">Industry</label>
                            <select class="form-control form-select" id="inputIndustryField" aria-label="industry">
                                <option selected>Choose your industry</option>
                                <option value="Infrastructure">Infrastructure</option>
                                <option value="Energy & Utilities">Energy & Utilities</option>
                                <option value="Forestry">Forestry</option>
                                <option value="Environmental Monitoring">Environmental Monitoring</option>
                                <option value="Manufacturing">Manufacturing</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2.5%;">
                        <div class="col-md-7">
                            <label for="inputMessageField" class="form-label">Problem Statement</label>
                            <input type="text" id="inputMessageField" class="form-control form-label-input"
                                placeholder="Describe your problem statement">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2.5%;">
                        <div class="col-md-7">
                            <label for="inputMessageField" class="form-label">Expected Demo Date and Time</label>
                            <input type="text" id="inputMessageField" class="form-control form-label-input"
                                placeholder="Enter the Date and Time">
                        </div>
                    </div>
                </div>
                <div class="submit-btn-modal">
                    <button type="button" data-bs-dismiss="modal">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>