<div id="login-page">
    <div class="login-page-content">
        <!-- <div class="akin-logo">
            <img src="../../../assets/images/akin_login.png" alt="akin-circular-logo">
        </div> -->
        <div class="login-page">
            <div class="login-content">
                <div class="login-logo">
                    <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/images/akin_logo_black.svg"
                        alt="company-logo" style="height: 100%; width: 100%;">
                </div>
                <div class="login-form">
                    <div class="login-label">Corp ID</div>
                    <div class="login-input">
                        <input class="email-input" type="email" id="email" placeholder="Email or Username"
                            autocomplete="off" (keydown.enter)="login($event)">
                    </div>
                </div>
                <div class="login-button">
                    <button (click)="login($event)">Check In</button>
                </div>
            </div>
        </div>
    </div>
</div>