<div id="support-page">
    <div class="support-page-header">
        <div class="support-page-contents">
            <div class="flex-left-items">
                <div class="akin-logo" onclick="window.location.href='/'">
                    <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/videos/inv_ann_2.mp4/icons/akin_logo_white.svg" alt="Akin Analytics Logo">
                </div>
                <div class="platform-button">
                    <a href="/login">Platform</a>
                </div>
                <div class="support-button">
                    <a id="support-button" class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Company</a>
                    <ul class="dropdown-menu company-dropdown-menu">
                        <li class="line-items"><a class="dropdown-item" href="/aboutus">About Us</a></li>
                        <li class="line-items"><a class="dropdown-item" href="/blogs">Blogs</a></li>
                        <li class="line-items"><a class="dropdown-item" href="/locations">Locations</a></li>
                        <li class="line-items"><a class="dropdown-item" href="/support">Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="flex-right-items">
                <div class="login-button">
                    <button onclick="window.location.href='/login'">LOGIN</button>
                </div>
                <div class="demo-button">
                    <button data-bs-toggle="modal" data-bs-target="#scheduleDemo">Schedule a Demo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="support-page-content">
        <div class="support-details">
            <div class="support-heading-text">TECHNICAL SUPPORT</div>
            <div class="support-text">How can we help you today?</div>
            <div class="support-button" style="margin-top: 10%;">
                <button>Support</button>
            </div>
            <div class="support-button">
                <button>Contact Us</button>
            </div>
            <div class="support-button">
                <button>Check out current product status</button>
            </div>
        </div>
    </div>
    <div class="support-page-footer">
        <div class="footer-contents">
            <div class="ft-items">
                <div class="content-links">
                    <div class="link-view">
                        <label class="view-block-title">Company</label>
                        <ul class="items-list">
                            <li>
                                <a class="footer-links" href="/aboutus">About</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/locations">Locations</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Careers</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Use cases</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Terms and Privacy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-view">
                        <label class="view-block-title">Resources</label>
                        <ul class="items-list">
                            <li>
                                <a class="footer-links" href="/blogs">Webinars</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Workshops</a>
                            </li>
                            <li>
                                <a class="footer-links" href="/blogs">Blogs</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-view">
                        <label class="view-block-title">Network</label>
                        <ul class="items-list">
                            <li>
                                <a data-bs-toggle="modal" data-bs-target="#getInTouch">Become a partner</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-icons">
                    <a href="https://www.linkedin.com/company/akin-analytics-solutions/" target="_blank">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/videos/inv_ann_2.mp4/icons/linkedin.svg" alt="linkedin">
                    </a>
                    <a href="https://www.instagram.com/analyticsakin?igsh=MWhhczl4bzBsbm9hOA==" target="_blank">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/videos/inv_ann_2.mp4/icons/instagram.svg" alt="instagram">
                    </a>
                    <a href="https://www.youtube.com/@AkinAnalytics" target="_blank">
                        <img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/videos/inv_ann_2.mp4/icons/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
            <div class="ft-details">
                <div class="info-button">
                    <button data-bs-toggle="modal" data-bs-target="#getInTouch">Get in touch <span>&gt;</span></button>
                </div>
                <div class="info-phone">
                    <p><span style="margin-right: 5px;"><img src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/videos/inv_ann_2.mp4/icons/phone_icon.svg"></span>
                        +91-7337292216</p>
                </div>
                <div class="info-email">
                    <p><span style="margin-right: 5px;"><img
                                src="https://old-platform-buckets.s3.ap-south-2.amazonaws.com/videos/inv_ann_2.mp4/icons/email_icon.svg"></span>admin&commat;akinanalytics.ai</p>
                </div>
                <div class="info-subscribe">
                    <p>Subscribe to our newsletter</p>
                </div>
                <div class="info-copyright">
                    <p><span style="margin-right: 3px;">&copy;</span>2024 Akin Analytics, all rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="getInTouch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="getInTouchLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="getInTouchLabel">Learn more about our products and services:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="inputNameField" class="form-label">Name:</label>
                            <input type="text" id="inputNameField" class="form-control form-label-input"
                                placeholder="Enter your Name">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label for="inputEmailField" class="form-label">Email:</label>
                            <input type="text" id="inputEmailField" class="form-control form-label-input"
                                placeholder="Enter your Email">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2.5%;">
                        <div class="col-md-7">
                            <label for="inputMessageField" class="form-label">Message:</label>
                            <input type="text" id="inputMessageField" class="form-control form-label-input"
                                placeholder="Enter your Email">
                        </div>
                    </div>
                </div>
                <div class="submit-btn-modal">
                    <button type="button" data-bs-dismiss="modal">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="scheduleDemo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="scheduleDemoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scheduleDemoLabel">Schedule a Demo with us</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="inputNameField" class="form-label">Name</label>
                            <input type="text" id="inputNameField" class="form-control form-label-input"
                                placeholder="Enter your Name">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label for="inputEmailField" class="form-label">Email</label>
                            <input type="text" id="inputEmailField" class="form-control form-label-input"
                                placeholder="Enter your Email">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%;">
                        <div class="col-md-5">
                            <label for="inputNameField" class="form-label">Company Name</label>
                            <input type="text" id="inputNameField" class="form-control form-label-input"
                                placeholder="Enter your company name">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label for="inputIndustryField" class="form-label">Industry</label>
                            <select class="form-control form-select" id="inputIndustryField" aria-label="industry">
                                <option selected>Choose your industry</option>
                                <option value="Infrastructure">Infrastructure</option>
                                <option value="Energy & Utilities">Energy & Utilities</option>
                                <option value="Forestry">Forestry</option>
                                <option value="Environmental Monitoring">Environmental Monitoring</option>
                                <option value="Manufacturing">Manufacturing</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2.5%;">
                        <div class="col-md-7">
                            <label for="inputMessageField" class="form-label">Problem Statement</label>
                            <input type="text" id="inputMessageField" class="form-control form-label-input"
                                placeholder="Describe your problem statement">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2.5%;">
                        <div class="col-md-7">
                            <label for="inputMessageField" class="form-label">Expected Demo Date and Time</label>
                            <input type="text" id="inputMessageField" class="form-control form-label-input"
                                placeholder="Enter the Date and Time">
                        </div>
                    </div>
                </div>
                <div class="submit-btn-modal">
                    <button type="button" data-bs-dismiss="modal">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>