<div mat-dialog-title>
    <h1>Project</h1>
</div>
<form [formGroup]="projectForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Project Type</mat-label>
                <mat-select formControlName="projectType">
                    <mat-option *ngFor="let val of projects" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Project Sub Type</mat-label>
                <mat-select formControlName="projectSubType">
                    <mat-option *ngFor="let val of subProjects" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="First Name" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Last Name" formControlName="address">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button color="warn" type="button" [mat-dialog-close]="false">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
            Cancel
        </button>
        <button mat-raised-button color="primary" type="submit" style="position: absolute; right: 10px;">
            <i class="fa  fa-file-o" aria-hidden="true"></i>
            {{data ? 'Update': 'Save'}}</button>
    </div>
</form>